<h1>Example App: Home</h1>
{{>newList}}
<ul  class="list-group">
    {{#each lists}}
        <li class="list-group-item d-flex justify-content-between align-items-center row-above-sm row">
            <div class="col-md-10">
                <a href="/lists/{{this.id}}/todos">
                    {{this.id}} - {{this.name}}
                </a>
                <span class="badge bg-success rounded-pill"> {{this.total}}</span>
            </div>
            <div class="col-md-2">
                <a href="/lists/{{this.id}}/edit" class="btn btn-success" title="Update list">
                    <i class="fa-solid fa-pen-nib"></i>
                </a>
                    <form method="post" action="/lists/{{this.id}}" style="display: inline">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger" title="Delete list">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </form>
            </div>
        </li>
    {{/each}}
</ul>

